{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Delete{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('records.delete')}}">Back to Delete</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" action="/records/delete">
    <label for="deleteDate">Date: </label>
    <input type="date" name="deleteDate" id="deleteDate" value="{{dateval}}" required>
    <label for="deleteDepartment">Department: </label>
    <select name="deleteDepartment" id="deleteDepartment" required>
      {% for (dname,) in dnames %}
        {% if depval == dname %}
          <option value="{{dname}}" selected>{{dname}}</option>
        {% else %}
          <option value="{{dname}}">{{dname}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="Search">
  </form>
  {{infoDisplayHTML}}
  <form method="post">
    <input type="submit" value="Delete">
  </form>
{% endblock %}
