{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Delete{% endblock %}</h1>
  {% if g.user %}
  {% endif %}
{% endblock %}

{% block content %}
<form method="post" action="/records/delete">
  <label for="deleteDate">Date: </label>
  <input type="date" name="deleteDate" id="deleteDate" value="{{dateval}}" required>
  <label for="deleteDepartment">Department: </label>
  <select name="deleteDepartment" id="deleteDepartment" value="{{departmentval}}" required>
    {% for (dname,) in dnames %}
      {% if depval == dname %}
        <option value="{{dname}}" selected>{{dname}}</option>
      {% else %}
        <option value="{{dname}}">{{dname}}</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="submit" value="Search">
</form>
{{infoDisplayHTML}}
<form id="confirm_form" method="post">
  <label for="confirm_buttons">Are you sure?</label>
  <span id="confirm_buttons">
    <input type="submit" value="Yes">
    <input type="submit" formaction="{{url_for('records.delete_information', dateval=date, depval=department, infoDisplayHTML=infoDisplayString, dnames=dnames)}}" value="No">
  </span>
</form>
{% endblock %}
